.card{
    width: 90%;
    margin: 10px auto;
    border: 1px solid white;

}
.card img{
    width: 100%;
    height: 300px;
}
.card h4{
    text-align: center;
    color: yellow;
    font-size: 20px;
}
.card p{
    width: 90%;
    margin: 10px auto;
}
.linksWithRole{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 10px auto;

}
.linksWithRole a.icons{
   color: yellow;
    padding-right: 10px;
    font-size: 20px;
}
.linksWithRole a.icons:hover{
color: red;
}
.linksWithRole span{
    background-color: gray;
    padding: 5px ;
    border-radius: 5px;
}
.features{                      
     width: 60%;
    margin: 10px auto;
}
.features span{
    color: yellow;
}
.moreInfo {
    background-color: black;
    color: yellow;
    border: 1px solid yellow;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.moreInfo:hover {
    background-color: yellow;
    color: black;
}